<%- include('partials/_header') %>
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/pharma1.jpg" class="img-fluid" alt="" height="2000px" width="2000px">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Sri Maruthi Pharma (SMP)</h3>
            <p class="fst-italic">
              SMP is a company, established under a mission of service to humanity, we provide a
               wide range of pharmaceuticals and we are building a reputation of quality and integrity known
               around the world.
            </p>
            <p><i>
              The products that we supply at SMP Meets the best safety and quality standards. We are being
              audited regularly by officials to ensure that the highest safety and quality criteria were met.</i>
            </p>
            <p>We offer</p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> 24*7 Support</li>
              <li><i class="bi bi-check2-circle"></i> Quality assurance</li>
            </ul>
            <p>
              SMP, Bangalore is known to satisfactorily cater to the demands of its customer base. The business
               came into existence in 2012 and has, since then, been a known name in its field. It stands located at No.65, 1st Floor, 3rd Cross,
                Near rayon circle, A V Road, 1st Main, Chamarajpet-560018. Near rayon circle is a prominent landmark in the area and
               this establishment is in close proximity to the same.The business strives to make for a positive experience through its offerings.
                The accepted modes of payment such as Cash, Cheques, RTGS make every business transaction easy and seamless, contributing to making
                 the entire process even more effective.Customer centricity is at the core of Sri Maruti Pharma in Chamarajpet, Bangalore and it is 
                 this belief that has led the business to build long-term relationships. Ensuring a positive customer experience, making available 
                 goods and/or services that are of top-notch quality is given prime importance.India’s leading B2B market place, Jd Mart ensures
                  engaging in business activities is a seamless process for small and medium enterprises as well as large businesses. In a wake to
                   enable these businesses to reach their audience, this portal lets them showcase their offerings in terms of the products and/or
                    services through a digital catalogue. This business has a wide range of product offerings and the product/catalogue list includes 
                    pharmaceutical, pharmaceutical product etc
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1456" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Branches</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->



  </main><!-- End #main -->
  <%- include('partials/_footer') %>