<%- include('partials/_header') %>
  
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span><br>Sri Maruthi Pharma</br></span></h2>
          <p class="animate__animated animate__fadeInUp">Sri Maruthi Pharma in Bangalore is one of the
             leading businesses in Surgical
            Equipment Dealers. Also known for Surgical Equipment Dealers, Pharmaceutical
            Product Distributors, Medical Equipment Dealers, Pharmaceutical Distributors,
            Surgical Item Dealers, Medicine Distributors, Medical Product Dealers, Generic
            Medicine Wholesalers and much more..</p>
            <a href="/about" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>
      

    </div>
  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>We are dealers in..</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Chemists.</h3>
            <p class="fst-italic">
             We are the number one Chemists at Bangalore!!!
            </p>
            <ul>
              <li><i class="bi bi-check"></i> We know you have a choice. Thank you for choosing us.</li>
              <li><i class="bi bi-check"></i> We provide the best service for the best customers.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Surgical Equipment Dealers</h3>
            <p class="fst-italic">
              SMP has a wide range of products and services to cater to the varied requirements of
               their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries 
               or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash,
                Master Card, Visa Card,
               Debit Cards, Credit Card, Card On Delivery, UPI, Paytm, Payumoney. 
               
            </p>
           
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Pharmaceutical Product Distributers</h3>
            <p> We distribute pharmaceutical equipments of all kinds.</p>
            
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Medical Equipment Dealers</h3>
            <p class="fst-italic">
              We distribute Medical Equipments of all kinds all over India.
            </p>
            
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer5.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Pharmaceutical Distributers</h3>
            <p> We distributes all kinds of medicines, drugs, surgical and other pharmaceutical preparations to retailers, hospitals, dispensaries,
               medical, educational or research institutions and other agencies</p>
            
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer6.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Pharmaceutical Product Manufacturers</h3>
            <p class="fst-italic">
              We also deals with the production of medicinal active substances to be used for their pharmacological properties 
              in the manufacture of medicaments.
            </p>
            
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer7.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Medicine Wholesalers</h3>
            <p> Handling huge demands are managed with wholesalers around the Industry..</p>
            
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer8.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Surgical Face Mask Dealers</h3>
            <p class="fst-italic">
              We provide the best and surgical masks for a safer surgery.
            </p>
          
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer9.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>N95 Face Mask Dealers</h3>
            <p> We provide n95 masks to breath safely from viral and bacterial infections. .</p>
           
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer10.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Medicine Distributers</h3>
            <p class="fst-italic">
              We distributes all kind of medicines to retailers, hospitals, dispensaries etc.
            </p>
           
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/dealer11.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Generic Medicine Distributers </h3>
            <p>We are authorised Distributers of generic medicines all over India..</p>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/dealer12.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Pharmaceutical Product Wholesalers </h3>
            <p class="fst-italic">
             We are the dealers of medicines, drugs, surgical and other pharmaceutical 
              preparations to retailers, hospitals, dispensaries, medical, educational or research institutions and other agencies
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <%- include('partials/footer') %>